/* Liste Couleurs
#d4909b; rgba(212,144,155,0.2)
#76b2ce; rgba(118,178,206,0.2)
#6494aa; rgba(100,148,170,0.2)
rgba(207,159,173,0.3); #CF9FAD
*/

html, body {
  font-family: 'Montserrat', sans-serif; 
  font-size: 24px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body p::first-letter {
  font-size: 28px;
}

/* Barre de navigation et animation */
.navBarre {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;
  box-shadow: rgba(0,0,0,0.1) 0 4px 14px;
  overflow: hidden;
}
nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: rgba(255,255,255,0.2);
}

.navBarre:hover .animation {
  animation-play-state: running;
}

nav li {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: flex; 
  justify-content: space-evenly;
  padding: 0px;
  margin: auto;
  flex-wrap: nowrap;
  z-index: 2;
}

.container {
  margin: auto;
  list-style: none;
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: nowrap;
  z-index: 2;
}
/* liens navBarre */
nav a:link {
  text-decoration: none;
  color: #6494aa;
}

nav a:visited {
  text-decoration: none;
  color: #a16879;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  text-decoration: underline;
}

.animation {
  animation: 6s linear 0s infinite paused veloCycle;
  display: flex;
  align-items: left;
  padding-top: 0.5%;
  padding-left: 1%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@keyframes veloCycle {
  0% { 
   transform: 
      translateX(0%);
    }
  
  100% { 
    transform: 
      translateX(100%);
  }
}
/* header et text */
header {
  background: url("images/Header.png") no-repeat center center; 
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #cf9fad;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: 0;
  padding: 0%;
  border: 0%;
  font-size: 30px;
  z-index: 1;
}
.header-text {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #cf9fad; /* rgba(212,144,155,0.2)*/ 
  text-shadow: rgba(0,0,0,0.6) 0 4px 8px;
  font-size: 30px;
  margin-left: 13%;
  margin-bottom: 13%;
  margin-top: 20%;
  z-index: 1;
}
.header-text p {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: #cf9fad; /* rgba(212,144,155,0.2)*/  
  text-shadow: rgba(0,0,0,0.6) 0 4px 8px;
  font-size: 30px;
  margin-bottom: 13%;
  z-index: 1;
}

header-text a:link {
  text-decoration: none;
  color: #6494aa;
}

nav a:visited {
  text-decoration: none;
  color: #a16879;
}

nav a:hover {
  text-decoration: underline;
}

nav a:active {
  text-decoration: underline;
} 
/* liens et mots clés */
a:link {
  text-decoration: none;
  color: #6494aa;
}

a:visited {
  text-decoration: none;
  color: #a16879;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.mail:link {
  text-decoration: none;
  color: white;
}

.mail:visited {
  text-decoration: none;
  color:white;
}

.mail:hover {
  text-decoration: underline;
}

.mail:active {
  text-decoration: underline;
}
.motclé {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 26px;
}

/* A propos */
.main1 {
  width: 100%;
  height: 200%;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  margin-top: 0%;
  margin-bottom: 0px;
  padding: 0px;
  z-index: 1;
}

.container0 {
  background: url("images/HeaderF.png") no-repeat center center; 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  margin: 0px;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0px;
}
/* Qui suis-je + passions */
.container1 {
  list-style: none;
  display: flex; 
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-top: 1%;
}

.enfant1 {
  flex: 2;
}

.enfant2 {
  flex: 1;
}
/* Mon parcours */
.experiences{
  list-style: none;
}
.m2 {
  list-style: none;
  display: flex; 
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-top: 1%;
}
.decathlon {
  margin-left: 8.5%;
  padding-right:4%;
}
.cours {
  margin-right: 8.5%;
  padding-left: 4%;
}
.colytexte {
  margin-left: 8.5%;
  margin-right: 8.5%;
}
.colybride {
  height: 7rem;
  text-align: justify;
  margin-left: 8.5%;
  margin-right: 8.5%;
  margin-bottom: 0;
  list-style-type: circle;
}
/* Mes compétences */
.container2 {
  list-style: none;
  display: flex; 
  text-align: justify;
  margin-top: 65%;
  margin-bottom: 2%;
  margin-left: 8.5%;
  margin-right: 8.5%;
  padding-left: 0;
}

.enfant3 {
  flex: 1;  
}

.enfant4 {
  flex: 1;
}
/* Projets */
.portfolio {
  margin-top: -5%;
  margin-bottom: 3rem;
}
.portfolio h2 {
  margin: 0;
  padding-bottom: 2rem;
}
.projets {
  text-align: justify;
  margin-left: 8.5%;
  margin-right: 8.5%;
  list-style-type: circle;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* Titres */ 
h2 {
  color: #d4909b;
  text-shadow: 0 0 2px #76b2ce;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 13%;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: underline;
}

h3 {
  color: #d4909b;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15%;
}

h4 {
  text-decoration: underline;
  margin-top: 1.1rem;
  margin-bottom: 0px;
  margin-left: 10%;
  font-size: 1rem;
}
/* textes */
.container1 .texte {
  text-align: justify;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.enfant2 .texte {
  text-align: justify;
  padding-top: 2%;
}
.enfant2 li{
  text-align: justify;
  padding: 0.7%;
}
.enfant3 .texte {
  text-align: justify;
  padding-right: 4%;
  padding-top: 0;
  margin: 0;
}
.enfant4 .texte {
  text-align: justify;
  padding-left: 4%;
  padding-top: 0;
  margin: 0;
}

.texte {
  text-align: justify;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1%;
  padding-bottom: 3%;
  line-height: 1.4;
}

/* pied de page */
footer {
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
padding: 0;
width: 100%;
height: 150px;
box-shadow: rgba(100,148,170) 0 4px 20px;
background-color: #6494aa;
color: white;
font-family: 'Montserrat', sans-serif; 
font-size: 24px;
}
.mail {
  font-family: 'Montserrat', sans-serif; 
  color: white;
}
.bulles {
  width: 100%;
  height: 50px;
  font-family: 'Montserrat', sans-serif; 
  position: center;
  list-style: none;
  display: flex; 
  justify-content: space-evenly;
}
.Linkedin {
  background: url("images/lienLinkedin.png") no-repeat center center;
  background-size: contain;
  box-shadow: rgba(255,255,255,0.2) 0 4px 20px;
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.Linkedin:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}
.facebook {
  background: url("images/facebook.png") no-repeat center center;
  background-size: contain;
  box-shadow: rgba(255,255,255,0.2) 0 4px 20px;
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.facebook:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}
.insta {
  background: url("images/insta.png") no-repeat center center;
  background-size: contain;
  box-shadow: rgba(255,255,255,0.2) 0 4px 20px;
  width: 50px;
  height: 50px;
  border-radius: 20%;
}
.insta:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.droits {
  font-family: 'Montserrat', sans-serif; 
  font-size: 18px;
  position: center;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
